* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  margin-top: 0px;
  position: relative;
}
.hero {
  background-image: url(/Website.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 140vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  display: flex;
  padding: 20px;
  height: 60vh;
  position: absolute;
  top: 150px;
  cursor: pointer;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  color: #fff;
}
.contact img {
  width: 50px;
  height: 50px;
}
.title img {
  width: 50px;
  height: 50px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: auto;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: auto;
}

.share {
  display: flex;
  align-items: center;
  gap: 30px;
}
